* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --countSlides: 4;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  opacity: .8;
  padding: 2%;
}

.slider_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(var(--index) * 30);
  height: calc(var(--index) * 30);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: calc(var(--index) * 0.7);
  color: white;

}

input[name="slider"] {
  visibility: hidden;
  width: 0;
}
.slides {
  overflow-x: hidden;
  width: 100%;
  height: 70%;
}
.overflow {
  height: 100%;
  width: calc(100% * var(--countSlides));
  display: flex;
  transition: all .5s ease-in-out;
  gap: .1em;
}

.slide1 {
  background: url(./images/1.jpg);
}
.slide2 {
  background: url(./images/2.jpg);
}
.slide3 {
  background: url(./images/3.jpg);
}
.slide4 {
  background: url(./images/4.jpg);
}
.slide {
  width: calc(100% / var(--countSlides));
  height: 100%;
  background-size: contain;
  border-radius: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(158, 139, 139, .2);
}
.description-wrapper {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--index) * 1);
}

.titles {
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
}
.titles .slide {
  background-color: black;
} 

.controls {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  
}
.circle {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: aqua;
  border: .25em solid aqua;
}
label:hover .circle{
  background: white;
  border-color: white;
}
label:active .circle {
  background-color: darkgrey;
  border-color: darkgrey;
}

#slide1:checked ~ .slider_container label:nth-child(1) .circle,
#slide2:checked ~ .slider_container label:nth-child(2) .circle,
#slide3:checked ~ .slider_container label:nth-child(3) .circle,
#slide4:checked ~ .slider_container label:nth-child(4) .circle,
#slide5:checked ~ .slider_container label:nth-child(5) .circle {
  background: black;
}

#slide2:checked ~ .slider_container .overflow {
  transform: translateX(-25%);
}
#slide3:checked ~ .slider_container .overflow {
  transform: translateX(-50%);
}
#slide4:checked ~ .slider_container .overflow {
  transform: translateX(-75%);
}

@media screen and (max-width:768px) {
  .description-wrapper {
    flex-direction: column;
    gap: calc(var(--index) * 1);
    height: 20%;
  }

  .controls {
    order: -1;
  }
  .titles {
    width: 100%;
    margin-right: auto;
  }
}